
.vs/WheresWOLdo/v16/.suo
.vs/WheresWOLdo/v16/Server/sqlite3/db.lock
.vs/WheresWOLdo/v16/Server/sqlite3/storage.ide
bin/Debug/CheapLoc.dll
bin/Debug/Dalamud.dll
bin/Debug/Dalamud.xml
bin/Debug/Discord.Net.Core.dll
bin/Debug/Discord.Net.Core.xml
bin/Debug/Discord.Net.Rest.dll
.gitattributes
bin/Debug/Discord.Net.Rest.xml
bin/Debug/Discord.Net.WebSocket.dll
bin/Debug/Discord.Net.WebSocket.xml
bin/Debug/EasyHook.dll
bin/Debug/ImGui.NET.dll
bin/Debug/ImGuiScene.dll
bin/Debug/IndexRange.dll
bin/Debug/Lumina.dll
bin/Debug/Lumina.Generated.dll
bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/Newtonsoft.Json.dll
bin/Debug/OpenGL.Net.dll
bin/Debug/SDL2-CS.dll
bin/Debug/SDL2-CS.dll.config
bin/Debug/Serilog.dll
bin/Debug/Serilog.Sinks.Async.dll
bin/Debug/Serilog.Sinks.File.dll
bin/Debug/SharpDX.Desktop.dll
bin/Debug/SharpDX.Direct3D11.dll
bin/Debug/SharpDX.dll
bin/Debug/SharpDX.DXGI.dll
bin/Debug/SharpDX.Mathematics.dll
bin/Debug/StbiSharp.dll
bin/Debug/System.Buffers.dll
bin/Debug/System.Collections.Immutable.dll
bin/Debug/System.ComponentModel.Annotations.dll
bin/Debug/System.Linq.Async.dll
bin/Debug/System.Memory.dll
bin/Debug/System.Numerics.Vectors.dll
bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/System.Threading.Tasks.Extensions.dll
bin/Debug/WOLdo.dll
bin/Debug/WOLdo.pdb
LICENSE
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/WheresWOLdo.csproj.CopyComplete
obj/Debug/WheresWOLdo.csproj.FileListAbsolute.txt
obj/Debug/WheresWOLdo.csprojAssemblyReference.cache
obj/Debug/WOLdo.dll
obj/Debug/WOLdo.pdb
obj/project.assets.json
obj/WheresWOLdo.csproj.nuget.cache
obj/WheresWOLdo.csproj.nuget.dgspec.json
obj/WheresWOLdo.csproj.nuget.g.props
obj/WheresWOLdo.csproj.nuget.g.targets
Properties/AssemblyInfo.cs
.vs/WheresWOLdo/v16/Server/sqlite3/storage.ide-shm
.vs/WheresWOLdo/v16/Server/sqlite3/storage.ide-wal
bin/Debug/Dalamud.pdb
bin/Debug/ImGui.NET.pdb
bin/Debug/ImGuiScene.pdb
bin/Debug/Lumina.Excel.dll
bin/Release/CheapLoc.dll
bin/Release/Dalamud.dll
bin/Release/Dalamud.pdb
bin/Release/Dalamud.xml
bin/Release/EasyHook.dll
bin/Release/ImGui.NET.dll
bin/Release/ImGui.NET.pdb
bin/Release/ImGuiScene.dll
bin/Release/ImGuiScene.pdb
bin/Release/IndexRange.dll
bin/Release/Lumina.dll
bin/Release/Lumina.Excel.dll
bin/Release/Lumina.Generated.dll
bin/Release/Newtonsoft.Json.dll
bin/Release/OpenGL.Net.dll
bin/Release/SDL2-CS.dll
bin/Release/SDL2-CS.dll.config
bin/Release/Serilog.dll
bin/Release/SharpDX.Desktop.dll
bin/Release/Serilog.Sinks.File.dll
bin/Release/Serilog.Sinks.Async.dll
bin/Release/SharpDX.Direct3D11.dll
bin/Release/SharpDX.dll
bin/Release/SharpDX.DXGI.dll
bin/Release/SharpDX.Mathematics.dll
bin/Release/StbiSharp.dll
bin/Release/System.Buffers.dll
bin/Release/System.ComponentModel.Annotations.dll
bin/Release/System.Memory.dll
bin/Release/System.Numerics.Vectors.dll
bin/Release/System.Runtime.CompilerServices.Unsafe.dll
bin/Release/WOLdo.dll
bin/Release/WOLdo.pdb
obj/Release/WheresWOLdo.csproj.CopyComplete
obj/Release/WheresWOLdo.csproj.FileListAbsolute.txt
obj/Release/WheresWOLdo.csprojAssemblyReference.cache
obj/Release/WOLdo.dll
obj/Release/WOLdo.pdb
